<ion-header>
  <ion-navbar class="toolbar-background-md">
    <ion-title>
      <div id="title">
        QC Input App
      </div>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-grid>
      <ion-row >
        <ion-col >
          <div>
            <button ion-button expand class="buttons" (click)="postQualityFail()" large color="danger"  full  >FAIL ({{failCount}})</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <button ion-button expand class="buttons"  (click)="postQualityPass()" large color="secondary" full>PASS ({{passCount}})</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
