page-home {

}
#title{
  color: rgb(255, 255, 255);
  font-size: x-large;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    
  }
  ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar-background-md{
  background-color: darkslategray;
}
ion-row{
  margin:5%;

}
ion-grid {
  height: max-content;
}
ion-row {
  height:100%;
}
.buttons{
  height: 200px;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  font-size:30px;
}
.toast-container{
  text-align: center;
  }

  
